html{
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
}
body{
    margin: 0 !important;
    padding: 0 !important;
}

label, p, h1, h2, h3, ul, li, legend, small, strong{
    font-family: 'Lato', sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}