<div class="proceso">
    <div class="proceso__title">
        <h1>¿CÓMO FUNCIONA GDL BIKE TOUR?</h1>
    </div>
    <div class="proceso__info">
            <p>Los tours empiezan y terminan en GdlBike Tour, ubicada en la calle Gabriel Castaños #4, en Arcos Vallarta, Guadalajara, es necesaria una previa reservación.</p>
            <p>Eres bienvenido de llegar sin reservación, pero no te aseguramos tu lugar ya que las reservaciones son prioridad.<p>
            <p>Si quieres reservar un tour privado, <a href="#contact">CONTÁCTANOS</a> vía correo o teléfono..
                <p>
            <p>Niños mayores de 15 años son bienvenidos. También tenemos sillas para bebes.<p>
            <p>Pago solo en efectivo en peso (MXN o USD)<p>
            <p>GdlBike Tour se enorgullece de llevarte a un tour en bicicleta, y tu seguridad es lo mas importante. Recorre la bella tierra de Guadalajara, a través de sus amplias calles y ciclo-vías, utilizando equipo de calidad que GdlBike Tour pone a tu disposición.<p>
    </div>
</div>