.proceso{
    display: flex;
    position: relative;
    width: 100vw;
    height: auto;
    flex-direction: column;
    background-color: #1d1d1b;
    align-items: center;
    padding-top: 3em; 
    padding-bottom: 3em; 
}
.proceso__title{
    color: #a42035;
    text-align: center;
}
.proceso__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
    .proceso__info p{
        width: 100%;
        text-align: justify;
        margin: 0;
        line-height: 1.5em;
        font-size: 110%;
        color: white;
    }
    .proceso__info a{
        color: #a42035;
        text-decoration: none;
    }

@media ( max-width: 768px ){
    /*Small screens-only*/

}