.carousel-wrapper *{
    box-sizing: border-box;
}
.carousel-wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1d1d1b;
    display: flex;
    justify-content: center;
}
    .carousel{
        position: relative;
        display: flex;
        align-items: center;
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
      .carousel__photo {
          opacity: 0;
          position: absolute;
          top:0;
          margin: 0;
          padding: 0;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
          z-index: 100;
          transition: transform .5s ease-out, opacity .5s ease-out, z-index .5s ease-out, filter .4s ease-out;
      }
      .carousel__photo.initial,
      .carousel__photo.active {
          filter: none;
          opacity: 1;
          position: relative;
          z-index: 900;
      }
/*Position the prev and next. Just below the active one and to its left and right respectively*/
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

/*Carousel controls css*/
.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #1d1d1b;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
}
.carousel__button--prev {
  left:0;
  /*transform: translateY(-100%);*/
}
.carousel__button--next {
  right:0;
  /*transform: translateY(-100%);*/
}
    /*Arrows*/
    .carousel__button--prev::after,
    .carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 3px solid #9D9D9C;
    border-bottom: 3px solid #9D9D9C;
    transform: translate(-50%, -50%) rotate(135deg);
    transition: border-right .3s ease-out, border-bottom .3s ease-out;
    }
    .carousel__button--next::after {
        left: 47%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .carousel__button--next:hover {
        background-color: #9D9D9C;
    }
    .carousel__button--next:hover:after{
        border-right: 3px solid #1d1d1b;
        border-bottom: 3px solid #1d1d1b;
    }
    .carousel__button--prev:hover {
        background-color: #9D9D9C;
    }
    .carousel__button--prev:hover:after{
        border-right: 3px solid #1d1d1b;
        border-bottom: 3px solid #1d1d1b;
    }

    .carousel__button--next:hover #what{
      filter: none !important;
    }