<div class="us">
    <div class="us__continer">
        <div class="us__title">
            <h1>CONÓCENOS</h1>
        </div>
        <div class="us__text">
            <p>Nuestra historia comenzó en 2015 cuando compramos nuestra primera bicicleta para nuestros tours. Crecido en Guadalajara Tona (Fundador de GdlBike Tour), siempre explorando la ciudad con su bicicleta encontró los sitios más interesantes. Cada vez que amigos internacionales o nacionales visitaban Guadalajara, los llevaba en bicicleta por la ciudad. Así surgió la idea de convertir esto en una pequeña empresa desde hace más de 4 años, y conforme pasan los años seguimos creciendo. 
            </p>
            <p>Con nuestros tours, acercamos la cultura y la historia de la ciudad de una manera sustentable para los turistas. Para garantizar un recorrido seguro, proporcionamos bicicletas y equipos de seguridad que se revisan regularmente. 
            </p>
            <p>Estamos encantados de crear un recorrido personalizado con usted. Solo contáctanos. </p>
            <button class="us__contacto">
                CONTACTO
            </button>
        </div>
    </div>
    <!---<div class="us__shadow"></div>-->
    <div class="us__background"></div>
</div>