<div class="footer">
    <div class="footer__text">
        <label class="footer__address">Direccion - Gabriel Castaños 4, Colonia Arcos Vallarta, Guadalajara, Jalisco. México</label>
        <label class="footer__email">Email - contacto@gdlbiketours.mx</label>
        <label class="footer__phones">Teléfono - 33 3616 5029</label>
    </div>
    <div class="footer__sn">
        <div class="footer__sn-app"><i class="fab fa-instagram fa-2x"></i></div>
        <div class="footer__sn-app"><i class="fab fa-facebook fa-2x"></i></div>
        <div class="footer__sn-app"><i class="fab fa-whatsapp fa-2x"></i></div>
    </div>
</div>