<div class="bienvenido">
    <div class="bien__title">
        <h1>BIENVENIDOS A GDL BIKE TOURS</h1>
    </div>
    <div class="bien__text">
        <p>
            GdlBike Tour, te invita a vivir de cerca la experiencia de descubrir la ciudad de Guadalajara, Jalisco en bicicleta. Recorre y
            conoce más a la vez, de una manera relajada y divertida, esos lugares históricos, culturales y arquitectónicas de la
            perla tapatía.
        </p>
        <p>
                Nuestros amigables guías, están totalmente capacitados para ofrecer los tours en Español, Inglés y Alemán; te acompañarán
                en una ruta turística llena de magia y diversión, solo o con amigos, atrévete a conocer la ciudad de una manera diferente.
        </p>
        <button class="bien__reserva">
            AGENDA UN TOUR
        </button>
    </div>
</div>